/Perldoop/build/*
/Perldoop/dist/*
/Perldoop/zip-build/*
/Perldoop/perldoop2.bat
/Perldoop/nbproject/private/*

/Perldoop-Test/src/perldoop/test/java/*
/Perldoop-Test/build/*
/Perldoop-Test/dist/*
/Perldoop-Test/nbproject/private/*